# env
.env
.env.*.local

# dependencies
node_modules/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# build / cache
dist/
build/
.coverage/
coverage/
.tmp/
.cache/